<h2 class="text-info">Reset your password</h2>
<p>To reset your password, please visit the following link</p>
<a href="{{ url('app_reset_password', {token: resetToken}) }}">{{ url('app_reset_password', {token: resetToken}) }}</a>
<p>This link will expire in one hour.</p>