{% extends 'base.html.twig' %}

{% block body %}
    <main class="page landing-page">
        {% include('layouts/home_banner.html.twig') %}
        <section>
            <div class="container py-4 py-xl-5">
                <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-5">
                    {% for trick in tricks %}
                        <div class="col">
                            <div class="card"><img class="card-img-top w-100 d-block fit-cover trick_list_img" alt="{{ trick.mediaCover.altText }}" src="{{ asset('images/tricks/' ~ trick.mediaCover.url) }}" />
                                <div class="card-body">
                                    <p class="text-primary d-flex justify-content-around align-items-center card-text mb-0">
                                        <a href="{{ path('app_trick_show', {
                                            slug: trick.slug
                                        }) }}">{{ trick.name }}</a>
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <i class="far fa-edit"></i>
                                            <i class="far fa-trash-alt"></i>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}