<section id="background" class="clean-block clean-hero">
    <div class="text">
        <h2>Welcome to Snowtricks</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
    </div>
    {% if tricks is defined %}
        <i id="goToTricksArrow" class="fas fa-arrow-down fs-1 text-light"></i>
    {% endif %}
</section>